[submodule "Analytical-Meridional-Non-Paraxial-Ray-Propagation"]
	path = Analytical-Meridional-Non-Paraxial-Ray-Propagation
	url = https://github.com/Noah-Everett/Analytical-Meridional-Non-Paraxial-Ray-Propagation
[submodule "external/pytorch-3dunet"]
	path = external/pytorch-3dunet
	url = https://github.com/wolny/pytorch-3dunet
